<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script language="JavaScript">
        function checkForm() {
            const passwordRules = /^.*(?=.{6,20})(?=.*[0-9])(?=.*[a-zA-Z]).*$/;
            const form = document.signup_form;

            if (!form.id.value) {
                alert('아이디를 입력해주세요.')
            } else if (!passwordRules.test(form.pwd.value)) {
                alert('비밀번호를 올바르게 입력해주세요.')
            } else if (form.pwd.value != form.checkPwd.value) {
                form.status.value = "[일치하지 않습니다]"
            } else if (!form.nickname.value) {
                alert('닉네임을 입력해주세요.')
            } else if (!form.email.value) {
                alert('이메일을 입력해주세요.')
            } else if (!form.region.value) {
                alert('선호하는 거래지역을 입력해주세요.')
            } else if (!form.phone.value) {
                alert('휴대폰 번호를 입력해주세요.')
            } else if (!(form.id_check.value && form.nick_check.value)) {
                alert('아이디나 닉네임이 중복되었습니다.')
            } else {
                form.submit();
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function checkId() {
                $.post('/signup/check_id', {id: $('#id_form').val()},
                    function (res, req) {
                        const form = document.signup_form;

                        if (form.id.value) {
                            if (res) {
                                form.id_status.value = '[사용 가능한 아이디입니다]';
                                form.id_status.style.color = 'green';
                                form.id_check.value = true;
                            } else {
                                form.id_status.value = '[이미 존재하는 아이디입니다]';
                                form.id_status.style.color = 'red';
                                form.id_check.value = false;
                            }
                        } else form.id_status.value = '';
                    })
            }

            function checkNickname() {
                $.post('/signup/check_nickname', {nickname: $('#nick_form').val()},
                    function (res, req) {
                        const form = document.signup_form;

                        if (form.nickname.value) {
                            if (res) {
                                form.nick_status.value = '[사용 가능한 닉네임입니다]';
                                form.nick_status.style.color = 'green';
                                form.nick_check.value = true;
                            } else {
                                form.nick_status.value = '[이미 존재하는 닉네임입니다]';
                                form.nick_status.style.color = 'red';
                                form.nick_check.value = false;
                            }
                        } else form.nick_status.value = '';
                    })
            }

            $('#id_form').on('keyup', checkId)
            $('#nick_form').on('keyup', checkNickname)
            $('#id_form').on('blur', checkId)
            $('#nick_form').on('blur', checkNickname)
        })
    </script>
</head>
<body>
<header>
    <p>
        <input type="button" value="로그인" id="signin" onclick="location.href='/users'">
        <input type="button" value="회원가입" id="signup" onclick="location.href='/signup'">
    </p>
    <img src="/images/wolf.png" height="150px">
</header>
<article>
    <center>
        <form method="POST" name="signup_form">
            <table style="padding-top: 50px" border="1px">
                <tr>
                    <th>아이디</th>
                    <th><input type="text" name="id" id="id_form" maxlength="20"
                               style="ime-mode: disabled"></th>
                    <th>
                        <input type="text" name="id_status" readonly disabled
                               style="background-color:white; color: green; border: 0; width: 100%;">
                        <input type="hidden" name="id_check" id="id_check" value=false>
                    </th>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <th><input type="password" name="pwd" id="pwd_form" maxlength="20"></th>
                    <th><input type="text" name="pwd_status" readonly
                               style="color: green; background-color:white; border: 0; width: 100%;"></th>
                </tr>
                <tr>
                    <th colspan="3" style="padding: 0%; font-size: 10pt; color: brown;">
                        <p>* 6~20자의 대소문자와 숫자를 포함되어야 합니다.</p>
                    </th>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <th><input type="password" name="checkPwd" maxlength="20"></th>
                    <th><input type="text" name="status" readonly
                               style="border: 0; background: white; color: red"></th>
                </tr>

                <tr>
                    <th>닉네임</th>
                    <th><input type="text" name="nickname" maxlength="12" id="nick_form" placeholder="12자 이하여야 합니다. ">
                    </th>
                    <th>
                        <input type="text" name="nick_status" readonly disabled
                               style="background-color:white; color: maroon; border: 0; width: 100%;">
                        <input type="hidden" name="nick_check" id="nick_check" value=false>
                    </th>
                </tr>
                <tr>
                    <th>이메일 주소</th>
                    <th><input type="email" name="email" max="40" placeholder="abc@def.com"></th>
                </tr>
                <tr>
                    <th>선호하는 거래지역</th>
                    <th><input type="text" name="region" maxlength="20" placeholder="예) 대전, 홍대놀이터 등"></th>
                </tr>
                <tr>
                    <th colspan="3" style="padding: 0%; font-size: 10pt; color: brown">
                        <p>* 간단한 지역만 작성해주세요(지역명, 지역의 유명한 상징 등)</p>
                    </th>
                </tr>
                <tr>
                    <th>휴대폰 번호</th>
                    <th><input type="tel" name="phone" maxlength="12" placeholder="'-'을 제외함"></th>
                </tr>
                <tr>
                    <th colspan="3">
                        <input type="button" value="회원가입" onclick="checkForm()">
                    </th>
                </tr>
            </table>
        </form>
    </center>
</article>
</body>
</html>
