<% layout('layout') %>
<center>
    <form method="post">
        <table>
            <tr>
                <th colspan="2" style="font-size: 20px;text-align: left; padding: 0">
                    <h1 style="margin: 0;">로그인</h1>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th><input type="text" name="id"></th>
            </tr>
            <tr>
                <th>PWD</th>
                <th><input type="password" name="pwd"></th>
            </tr>
            <tr>
                <th colspan="2"><input type="submit"></th>
            </tr>
        </table>
    </form>
</center>
