body {
    max-width: 1200px;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin: 0 auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0px;
    border: 1px solid #bcbcbc;
    height: 30px;
}

header {
    background: #43A047;
}

.userFunction {
    margin: 0;
    color: white;
    font-size: 16px;
    float: right;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

header center h1 {
    margin-bottom: 0;
    font-size: 30px;
    font-family: "맑은 고딕";
}

article {
    border: 1px solid black;
    padding: 50px;
}

table th {
    padding: 20px;
}

table th input {
    padding: 5px;
}

#columns {
    column-width: 250px;
    column-gap: 15px;
}

#columns figure {
    display: inline-block;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin: 0 0 20px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#columns figure img {
    width: 100%;
}

#columns figure figcaption {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    padding: 10px 10px 0;
    margin-top: 10px;
}

#p_title {
    text-align: start;
    font-size: 23px;
    margin: 0;
}

#p_price {
    text-align: end;
    margin-top: 0;
    font-size: 20px;
    font-family: "Arial Rounded MT Bold";
}

#jb-container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#jb-content {
    width: 50%;
    margin: 0 auto 10px 0;
    float: left;
    background-color: #0e0e0e;
    padding: 5px 0 5px 0;
}

#jb-content img {
    max-width: 100%;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#jb-sidebar {
    width: 45%;
    height: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    float: right;
    border: 1px solid #bcbcbc;
    vertical-align: middle;
}

#jb-sidebar th {
    padding: 0 10px 0 10px;
}

#jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid gray;
}

h1.pName {
    text-align: center;
}

.pInfo {
    margin: 10px 5px 10px 5px;
}

#pw_category {
    height: 30px;
    float: left;
}

#pw_price {
    margin: 10px 0 10px 0;
}

table.type10 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type10 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type10 tbody th {
    width: 150px;
    padding: 10px;
}
table.type10 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type10 .even {
    background: #fdf3f5;
}

.button {
    border: 1px solid #313e45;
    background: #f7d2d2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7d2d2));
    background: -webkit-linear-gradient(top, #ffffff, #f7d2d2);
    background: -moz-linear-gradient(top, #ffffff, #f7d2d2);
    background: -ms-linear-gradient(top, #ffffff, #f7d2d2);
    background: -o-linear-gradient(top, #ffffff, #f7d2d2);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f7d2d2 100%);
    padding: 17.5px 35px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #000000;
    font-size: 24px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border: 1px solid #102938;
    text-shadow: #1e4158 0 1px 0;
    background: #f0b2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0b2e2));
    background: -webkit-linear-gradient(top, #ffffff, #f0b2e2);
    background: -moz-linear-gradient(top, #ffffff, #f0b2e2);
    background: -ms-linear-gradient(top, #ffffff, #f0b2e2);
    background: -o-linear-gradient(top, #ffffff, #f0b2e2);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f0b2e2 100%);
    color: #fff;
}
.button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #e65c8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0b2e2));
    background: -webkit-linear-gradient(top, #ffffff, #e65c8a);
    background: -moz-linear-gradient(top, #ffffff, #e65c8a);
    background: -ms-linear-gradient(top, #ffffff, #e65c8a);
    background: -o-linear-gradient(top, #ffffff, #e65c8a);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #e65c8a 100%);
    color: #fff;
}